* {
    font-family: 'Baloo Chettan 2', cursive;
}
html, body {
 margin: 0;
 padding: 0 30px;
}
.page-title {
    padding: 20px 5px;
}
#tabList {
    display: flex;
    flex-direction: row;
}
.tabSelector {
    font-size: 150%;
    box-sizing: border-box;
    width: 10%;
    background-color: grey;
    color: lightgray;
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
}
.hidden {
    display: none;
}
.tab {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-top: none;
}
.selected {
    color: black;
    background-color: #fff;
    border-bottom: none;
}
h1,h2 {
    margin: 0;
}
.exercise-label {
    padding: 20px;
    padding-left: 20px;
    
}
label,ul,input,button,.error {
    font-size: 150%;
    padding-left: 5px;
}
label,ul {
    padding-left: 40px;
}
.output-label,.error,output {
    padding: 10px 40px;
}
li {
    list-style: none;
    padding: 2px 0;
}
.input {
    display: none;
}
.painel-container {
    display: flex;
    flex-direction: row;
} 
.painel {
    width: 50%;
}
.instructions {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 200%;
}
.painel-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 41px;
}
.labels,.values {
    width: 18%;
    display: flex;
    flex-direction: column;
}
.painel-images {
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
}
.error {
    color: red;
    font-weight: bold;
}



